game-dot span {
  border: 1px solid gray;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  transition: all .5s ease;
}
.board {
    width: 100%;
    border: 1px solid black;
    border-radius: .25rem;
    padding:.25em;
    margin:auto;
}
.board:focus {
  outline:none;
}